h1{
    font-size: 3rem;
    margin: 5px;
}
img{
    width: 450px;
    height: auto;
    margin: 5px;
}
ul{
    list-style-type: none;
    margin: 5px;
    padding: 10px;
}

.box{
    border-color: black;
    border-width: auto;
    border-style: solid;
}

li{
    font-size: 2rem;
}